div.game-body {
  font: 24px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.game-body ol,
ul {
  padding-left: 50px;
  text-align: left;
}

.game-body .board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-body .status {
  margin-bottom: 10px;
}

.game-body .square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 65px;
  font-weight: bold;
  line-height: 75px;
  height: 75px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 75px;
}

.game-body .square:focus {
  outline: none;
}

.game-body .kbd-navigation .square:focus {
  background: #ddd;
}

.game-body .game {
  display: inline-flex;
  flex-direction: row;
}

.game-body .game-info {
  margin-left: 50px;
}
